USE [ClinicProject]
GO
/****** Object:  User [admin2]    Script Date: 28-10-2025 20:35:06 ******/
CREATE USER [admin2] FOR LOGIN [admin2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin2]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 28-10-2025 20:35:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[surname] [varchar](100) NOT NULL,
	[dob] [date] NOT NULL,
	[age] [int] NULL,
	[data] [nvarchar](max) NULL,
	[total_score] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[patients] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[patients] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
